EAP/Lab04MVCWebRole/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Lab04WCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Lab04WCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Balance" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Passcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="ArrayOfvBookPublisher">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vBookPublisher" nillable="true" type="tns:vBookPublisher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvBookPublisher" nillable="true" type="tns:ArrayOfvBookPublisher" />
  <xs:complexType name="vBookPublisher">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edition" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PublisherName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vBookPublisher" nillable="true" type="tns:vBookPublisher" />
  <xs:complexType name="ArrayOfPublisher">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Publisher" nillable="true" type="tns:Publisher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPublisher" nillable="true" type="tns:ArrayOfPublisher" />
  <xs:complexType name="Publisher">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Books" nillable="true" type="tns:ArrayOfBook" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublisherId" type="xs:int" />
      <xs:element minOccurs="0" name="PublisherName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Publisher" nillable="true" type="tns:Publisher" />
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookId" type="xs:int" />
      <xs:element minOccurs="0" name="BookName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edition" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Publisher" nillable="true" type="tns:Publisher" />
      <xs:element minOccurs="0" name="PublisherId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
</xs:schema>